

<div class="container">
    <div class="row">
        <button type="button" class="btn btn-dark">File Upload CV</button>
        <button type="button" class="btn btn-info" hidden="hidden">{{cV.status}}</button>
    </div>
</div>
<div class="container">
    <div class="row"  >
        <div class="col-sm-5 trai" >
<!--            <div class="top_trai">-->
<!--                <div class="khoianh1">-->
<!--                    <div class=" thum1">-->
<!--                        <img style="height: 15rem" src="{{cV.avatar}}" alt="">-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
            <div class="top_trai_body">
                <div class="d-flex p-3 bg-secondary text-white khoi">
                    <img src="/content/icon/anh1.PNG" alt="">
                    <div class="flex1">Information</div>
                </div>
                <div class="d-flex p-3 bg-secondary text-white khoi">
                    <img src="/content/icon/anh2.PNG" alt="">
                    <div class="flex5">Name: {{cV.name}}</div>
                </div>
                <div class="d-flex p-3 bg-secondary text-white khoi">
                    <img src="/content/icon/anh3.PNG" alt="">
                    <div class="flex5">Birthday: {{cV.birthday}}</div>
                </div>
                <div class="d-flex p-3 bg-secondary text-white khoi">
                    <img src="/content/icon/anh4.PNG" alt="">
                    <div class="flex5" *ngIf="cV.gender==1">Gender: Nam</div>
                    <div class="flex5" *ngIf="cV.gender==0">Gender: Nữ</div>
                </div>
                <div class="d-flex p-3 bg-secondary text-white khoi">
                    <img src="/content/icon/anh5.PNG" alt="">
                    <div class="flex5">Phone Number: {{cV.phone}}</div>
                </div>
                <div class="d-flex p-3 bg-secondary text-white khoi">
                    <img src="/content/icon/anh12.PNG" alt="">
                    <div class="flex5">Email: {{cV.email}}</div>
                </div>
                <div class="d-flex p-3 bg-secondary text-white khoi	">
                    <img src="/content/icon/anh13.PNG" alt="">
                    <div class="flex5">Address: {{cV.address}}</div>
                </div>

            </div>
        </div>
        <div class="col-sm-7 phai-detail">
<!--            <div class="d-flex p-3 bg-secondary text-white khoi1">-->
<!--                <img src="/content/icon/anh8.PNG" alt="">-->
<!--                <div class="flex1">Education</div>-->
<!--            </div>-->
<!--            <div class="hoc_van">-->
<!--                <p>Đại Học : Điện Lực</p>-->
<!--                <p>Chuyên Ngành : Quản trị doanh nghiệp</p>-->
<!--                <p>Tốt nghiệp : loại giỏi</p>-->
<!--            </div>-->
            <div class="d-flex p-3 bg-secondary text-white khoi">
                <img src="/content/icon/anh9.PNG" alt="">
                <div class="flex1">Job</div>
            </div>
            <div class="hoc_van">
                <p> Company :  <a href="#"> {{cV.idCompany}} </a> </p>
                <p>Job : {{cV.job}}</p>
            </div>
            <div class="d-flex p-3 bg-secondary text-white khoi">
                <div class="flex1">Reason </div>
            </div>
            <div class="hoc_van">
                <p>Reason: {{cV.reason}}</p>
                <p>Reason Detail: {{cV.reasonDetail}}</p>
            </div>
            <div class="d-flex p-3 bg-secondary text-white khoi fixHeader">

                <div class="flex1">Attachments </div>
            </div>

            <div class="d-flex p-3  text-white justify-content-end khoianh">
                <img data-toggle="modal" data-target="#exampleModalCenter" src="{{cV.fileUploadCV}}" style="width:40%; height: 40% ">
                <!-- Modal -->
                <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered modal-lg" role="picture">
                        <div class="modal-content ">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalCenterTitle">Modal title</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <img id="myImg" src="{{cV.fileUploadCV}}" alt="" style="width: 100%; max-width: 800px">
                            </div>
                        </div>
                    </div>
                </div>

                <div class="thumb"></div>
            </div>
        </div>
    </div>
</div>

