<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="reasonList">
            <h2><span jhiTranslate="blackcvApp.reasonList.detail.title">Reason List</span> {{reasonList.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="blackcvApp.reasonList.idCV">Id CV</span></dt>
                <dd>
                    <span>{{reasonList.idCV}}</span>
                </dd>
                <dt><span jhiTranslate="blackcvApp.reasonList.document">Document</span></dt>
                <dd>
                    <span>{{reasonList.document}}</span>
                </dd>
                <dt><span jhiTranslate="blackcvApp.reasonList.id_reason">Id Reason</span></dt>
                <dd>
                    <span>{{reasonList.id_reason}}</span>
                </dd>
<!--                <dt><span jhiTranslate="blackcvApp.reasonList.status">Status</span></dt>-->
<!--                <dd>-->
<!--                    <span>{{reasonList.status}}</span>-->
<!--                </dd>-->
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/reason-list', reasonList.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
