<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-staff-origin-heading" jhiTranslate="blackcvApp.staffOrigin.home.createOrEditLabel">Create or edit a Staff Origin</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="blackcvApp.staffOrigin.name" for="field_name">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                           formControlName="name"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="blackcvApp.staffOrigin.email" for="field_email">Email</label>
                    <input type="text" class="form-control" name="email" id="field_email"
                           formControlName="email"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="blackcvApp.staffOrigin.job" for="field_job">Job</label>
                    <input type="text" class="form-control" name="job" id="field_job"
                           formControlName="job"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="blackcvApp.staffOrigin.advantages" for="field_advantages">Advantages</label>
                    <input type="text" class="form-control" name="advantages" id="field_advantages"
                           formControlName="advantages"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="blackcvApp.staffOrigin.defect" for="field_defect">Defect</label>
                    <input type="text" class="form-control" name="defect" id="field_defect"
                           formControlName="defect"/>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="blackcvApp.staffOrigin.more" for="field_more">More</label>
                    <input type="text" class="form-control" name="more" id="field_more"
                           formControlName="more"/>
                </div>
<!--                <div class="form-group">-->
<!--                    <label class="form-control-label" jhiTranslate="blackcvApp.staffOrigin.status" for="field_status">Status</label>-->
<!--                    <input type="number" class="form-control" name="status" id="field_status"-->
<!--                           formControlName="status"/>-->
<!--                </div>-->

            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
