<!--<div class="row justify-content-center">-->
<!--    <div class="col-8">-->
<!--        <div *ngIf="staffOrigin">-->
<!--            <h2><span jhiTranslate="blackcvApp.staffOrigin.detail.title">Staff Origin</span> {{staffOrigin.id}}</h2>-->
<!--            <hr>-->
<!--            <jhi-alert-error></jhi-alert-error>-->
<!--            <dl class="row-md jh-entity-details">-->
<!--                <dt><span jhiTranslate="blackcvApp.staffOrigin.name">Name</span></dt>-->
<!--                <dd>-->
<!--                    <span>{{staffOrigin.name}}</span>-->
<!--                </dd>-->
<!--                <dt><span jhiTranslate="blackcvApp.staffOrigin.email">Email</span></dt>-->
<!--                <dd>-->
<!--                    <span>{{staffOrigin.email}}</span>-->
<!--                </dd>-->
<!--                <dt><span jhiTranslate="blackcvApp.staffOrigin.job">Job</span></dt>-->
<!--                <dd>-->
<!--                    <span>{{staffOrigin.job}}</span>-->
<!--                </dd>-->
<!--                <dt><span jhiTranslate="blackcvApp.staffOrigin.advantages">Advantages</span></dt>-->
<!--                <dd>-->
<!--                    <span>{{staffOrigin.advantages}}</span>-->
<!--                </dd>-->
<!--                <dt><span jhiTranslate="blackcvApp.staffOrigin.defect">Defect</span></dt>-->
<!--                <dd>-->
<!--                    <span>{{staffOrigin.defect}}</span>-->
<!--                </dd>-->
<!--                <dt><span jhiTranslate="blackcvApp.staffOrigin.more">More</span></dt>-->
<!--                <dd>-->
<!--                    <span>{{staffOrigin.more}}</span>-->
<!--                </dd>-->
<!--&lt;!&ndash;                <dt><span jhiTranslate="blackcvApp.staffOrigin.status">Status</span></dt>&ndash;&gt;-->
<!--&lt;!&ndash;                <dd>&ndash;&gt;-->
<!--&lt;!&ndash;                    <span>{{staffOrigin.status}}</span>&ndash;&gt;-->
<!--&lt;!&ndash;                </dd>&ndash;&gt;-->
<!--            </dl>-->

<!--            <button type="submit"-->
<!--                    (click)="previousState()"-->
<!--                    class="btn btn-info">-->
<!--                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>-->
<!--            </button>-->

<!--            <button type="button"-->
<!--                    [routerLink]="['/staff-origin', staffOrigin.id, 'edit']"-->
<!--                    class="btn btn-primary">-->
<!--                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>-->
<!--            </button>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->


<form *ngIf="staffOrigin" name="detailsForm" (ngSubmit)="clear()">
    <div class="modal-header">
        <h4 class="modal-title text-center">Detail</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;
        </button>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-7">
                <div style="width: 26rem;">
                    <div class="row">
                        <div class="col-md-3">
                            <span class="d-none d-md-inline badge badge-pill badge-info">Staff Origin</span>
                        </div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-1"></div>
                        <div class="col">
                            <div class="row pb-2">
                                <div class="col-md-1"><fa-icon style="color: #20a8d8;" [icon]="'user'"></fa-icon></div>
                                <div class="col">{{staffOrigin.name}}</div>
                            </div>
                            <div class="row pb-2">
                                <div class="col-md-1"><fa-icon style="color: #20a8d8;" [icon]="'envelope'"></fa-icon></div>
                                <div class="col">{{staffOrigin.email}}</div>
                            </div>
                            <div class="row pb-2">
                                <div class="col-md-1"><fa-icon style="color: #20a8d8;" [icon]="'briefcase'"></fa-icon></div>
                                <div class="col">{{staffOrigin.job}}</div>
                            </div>
                            <div class="row pb-2">
                                <div class="col-md-1"><fa-icon style="color: #20a8d8;" [icon]="'thumbs-up'"></fa-icon></div>
                                <div class="col">{{staffOrigin.advantages}}</div>
                            </div>
                            <div class="row pb-2">
                                <div class="col-md-1"><fa-icon style="color: #20a8d8;" [icon]="'thumbs-down'"></fa-icon></div>
                                <div class="col">{{staffOrigin.defect}}</div>
                            </div>
                            <div class="row pb-2">
                                <div class="col-md-1"><fa-icon style="color: #20a8d8;" [icon]="'info'"></fa-icon></div>
                                <div class="col">{{staffOrigin.more}}</div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <fa-icon [icon]="'times'"></fa-icon>&nbsp;<span>Close</span>
        </button>
    </div>
</form>
