<div>
    <h2 id="page-heading">
        <span jhiTranslate="blackcvApp.company.home.title">Companies</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-company"
                [routerLink]="['/company/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span jhiTranslate="blackcvApp.company.home.createLabel">
            Create a new Company
            </span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <br/>

    <div class="card">
        <h5 class="card-header">Tìm kiếm</h5>
        <div class="card-body">
            <form name="searchForm" role="form" novalidate (ngSubmit)="onSearch()" [formGroup]="searchForm">
                <div class="row justify-content-center">
                    <div class="form-group col-sm-6 row text-color">
                        <label class="col-4 col-form-label text-right"
                               for="field_cVName">Name</label>
                        <div class="col-8">
                            <input type="text" class="form-control" name="field_cVName" id="field_cVName"
                                   formControlName="name"/>
                        </div>
                        <br>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="form-group col-sm-6 row text-color">
                        <label class="col-4 col-form-label text-right"
                               for="field_cVName">Business Area</label>
                        <div class="col-8">
                            <input type="text" class="form-control" name="field_cVName1" id="field_cVName1"
                                   formControlName="business"/>
                        </div>
                    </div>
                </div>
                <div class="text-center">
                    <button type="submit" class="btn btn-search">
                        <fa-icon [icon]="'search'"></fa-icon>
                        <span class="d-none d-md-inline">Tìm kiếm</span>
                    </button>
                </div>
            </form>
        </div>
    </div>

    <div class="alert alert-warning" *ngIf="companies?.length === 0">
        <span jhiTranslate="blackcvApp.company.home.notFound">No companies found</span>
    </div>
    <div class="table-responsive" *ngIf="companies?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th scope="col" jhiSortBy="name"><span jhiTranslate="blackcvApp.company.name">Name</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th scope="col" jhiSortBy="businessAreas"><span jhiTranslate="blackcvApp.company.businessAreas">Business Areas</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th scope="col" jhiSortBy="address"><span jhiTranslate="blackcvApp.company.address">Address</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th scope="col" jhiSortBy="status"><span jhiTranslate="blackcvApp.company.status">Status</span>
                    <fa-icon [icon]="'sort'"></fa-icon>
                </th>
                <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let company of companies ;trackBy: trackId">
                <td><a [routerLink]="['/company', company.id, 'view' ]">{{company.id}}</a></td>
                <td>{{company.name}}</td>
                <td>{{company.businessAreas}}</td>
                <td>{{company.address}}</td>
                <td>{{company.status}}</td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/company', company.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/company', company.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit" (click)="delete(company)"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="companies?.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage"
                            [maxSize]="5" [rotate]="true" [boundaryLinks]="true"
                            (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
