<link href="https://cdn.jsdelivr.net/npm/@coreui/coreui@2.1.7/dist/css/bootstrap.min.css" rel="stylesheet"/>
<link href="https://cdn.jsdelivr.net/npm/@coreui/coreui@2.1.7/dist/css/coreui.min.css" rel="stylesheet"/>
<body class="app header-fixed sidebar-fixed sidebar-lg-show">
<header class="app-header navbar">
    <div [ngSwitch]="isAuthenticated()">
        <ul class="nav nav-pills">
            <li class="nav-item">
                <a class="nav-link" (click)="changeShow()">
                <span>
                    <fa-icon icon="tasks"></fa-icon>
                </span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/">
                <span>
                    <span jhiTranslate="global.menu.home">Home</span>
                </span>
                </a>
            </li>
            <li class="nav-item dropdown">
                <a style="color: black;" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button"
                   aria-expanded="false"
                   jhiTranslate="global.menu.language">Language</a>
                <ul class="dropdown-menu" aria-labelledby="languagesnavBarDropdown">
                    <li *ngFor="let language of languages">
                        <a class="dropdown-item"
                           [jhiActiveMenu]="language"
                           href="javascript:void(0);"
                           (click)="changeLanguage(language);
                           collapseNavbar();">
                            {{language | findLanguageFromKey}}</a>
                    </li>
                </ul>
                <!--                <a class="dropdown-item" href="#">Action</a>-->
                <!--                <a class="dropdown-item" href="#">Another action</a>-->
                <!--                <a class="dropdown-item" href="#">Something else here</a>-->
                <!--                <div class="dropdown-divider"></div>-->
            </li>
            <li class="nav-item dropdown">
                <a style="color: black;" class="nav-link dropdown-toggle" data-toggle="dropdown" id="account-menu">
                  <span *ngIf="!getImageUrl()">
                    <fa-icon icon="user"></fa-icon>
                    <span jhiTranslate="global.menu.account.main">
                      Account
                    </span>
                  </span>
                    <span *ngIf="getImageUrl()">
                      <img [src]="getImageUrl()" class="profile-image rounded-circle" alt="Avatar">
                  </span>
                </a>
                <ul class="dropdown-menu" aria-labelledby="account-menu">
                    <li *ngSwitchCase="true">
                        <a class="dropdown-item" routerLink="account/settings" routerLinkActive="active"
                           (click)="collapseNavbar()">
                            <fa-icon icon="wrench" fixedWidth="true"></fa-icon>
                            <span jhiTranslate="global.menu.account.settings">Settings</span>
                        </a>
                    </li>
                    <li *ngSwitchCase="true">
                        <a class="dropdown-item" routerLink="account/password" routerLinkActive="active"
                           (click)="collapseNavbar()">
                            <fa-icon icon="lock" fixedWidth="true"></fa-icon>
                            <span jhiTranslate="global.menu.account.password">Password</span>
                        </a>
                    </li>
                    <li *ngSwitchCase="true">
                        <a class="dropdown-item" (click)="logout()" id="logout">
                            <fa-icon icon="sign-out-alt" fixedWidth="true"></fa-icon>
                            <span jhiTranslate="global.menu.account.logout">Sign out</span>
                        </a>
                    </li>
                    <li *ngSwitchCase="false">
                        <a class="dropdown-item" (click)="login()" id="login">
                            <fa-icon icon="sign-in-alt" fixedWidth="true"></fa-icon>
                            <span jhiTranslate="global.menu.account.login">Sign in</span>
                        </a>
                    </li>
                    <li *ngSwitchCase="false">
                        <a class="dropdown-item" routerLink="account/register" routerLinkActive="active"
                           (click)="collapseNavbar()">
                            <fa-icon icon="user-plus" fixedWidth="true"></fa-icon>
                            <span jhiTranslate="global.menu.account.register">Register</span>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</header>
<div class="app-body">
    <div class="sidebar" *ngIf="isAuthenticated()&&status" [ngSwitch]="isAuthenticated()">
        <nav class="sidebar-nav" *ngSwitchCase="true">
            <li class="nav-item">
                <div class="text-center">
                    <img style="height: 3rem;"
                         src="https://evotek.vn/wp-content/uploads/2019/08/logo_with_sologan-300x112.png"
                         class="rounded" alt="Evotek">
                </div>
            </li>
            <li class="nav-item">
                <a *jhiHasAnyAuthority="'ROLE_USER'" class="dropdown-item" routerLink="cv"
                   routerLinkActive="active">
                    <fa-icon icon="file" fixedWidth="true"></fa-icon>
                    <span jhiTranslate="global.menu.entities.cv">Cv</span>
                </a>

                <a *jhiHasAnyAuthority="'ROLE_USER'" class="dropdown-item" routerLink="company"
                   routerLinkActive="active">
                    <fa-icon icon="building" fixedWidth="true"></fa-icon>
                    <span jhiTranslate="global.menu.entities.company">Company</span>
                </a>

                <a *jhiHasAnyAuthority="'ROLE_ADMIN'" class="dropdown-item" routerLink="reason"
                   routerLinkActive="active">
                    <fa-icon icon="exclamation-circle" fixedWidth="true"></fa-icon>
                    <span jhiTranslate="global.menu.entities.reason">Reason</span>
                </a>

                <!--                <a class="dropdown-item" routerLink="reason-list" routerLinkActive="active">-->
                <!--                    <fa-icon icon="tasks" fixedWidth="true"></fa-icon>-->
                <!--                    <span jhiTranslate="global.menu.entities.reasonList">Reason List</span>-->
                <!--                </a>-->

                <a *jhiHasAnyAuthority="'ROLE_ADMIN'" class="dropdown-item" routerLink="staff-origin"
                   routerLinkActive="active">
                    <fa-icon icon="address-card" fixedWidth="true"></fa-icon>
                    <span jhiTranslate="global.menu.entities.staffOrigin">Staff Origin</span>
                </a>
            </li>
            <li class="nav-item" *jhiHasAnyAuthority="'ROLE_ADMIN'">
                <a class="dropdown-item" routerLink="admin/user-management" routerLinkActive="active"
                   (click)="collapseNavbar()">
                    <fa-icon icon="user" fixedWidth="true"></fa-icon>
                    <span jhiTranslate="global.menu.admin.userManagement">User management</span>
                </a>

                <a class="dropdown-item" routerLink="admin/metrics" routerLinkActive="active"
                   (click)="collapseNavbar()">
                    <fa-icon icon="tachometer-alt" fixedWidth="true"></fa-icon>
                    <span jhiTranslate="global.menu.admin.metrics">Metrics</span>
                </a>

                <a class="dropdown-item" routerLink="admin/health" routerLinkActive="active"
                   (click)="collapseNavbar()">
                    <fa-icon icon="heart" fixedWidth="true"></fa-icon>
                    <span jhiTranslate="global.menu.admin.health">Health</span>
                </a>
                <a class="dropdown-item" routerLink="admin/configuration" routerLinkActive="active"
                   (click)="collapseNavbar()">
                    <fa-icon icon="list" fixedWidth="true"></fa-icon>
                    <span jhiTranslate="global.menu.admin.configuration">Configuration</span>
                </a>

                <a class="dropdown-item" routerLink="admin/audits" routerLinkActive="active"
                   (click)="collapseNavbar()">
                    <fa-icon icon="bell" fixedWidth="true"></fa-icon>
                    <span jhiTranslate="global.menu.admin.audits">Audits</span>
                </a>

                <a class="dropdown-item" routerLink="admin/logs" routerLinkActive="active"
                   (click)="collapseNavbar()">
                    <fa-icon icon="tasks" fixedWidth="true"></fa-icon>
                    <span jhiTranslate="global.menu.admin.logs">Logs</span>
                </a>

                <a *ngIf="swaggerEnabled" class="dropdown-item" routerLink="admin/docs" routerLinkActive="active"
                   (click)="collapseNavbar()">
                    <fa-icon icon="book" fixedWidth="true"></fa-icon>
                    <span jhiTranslate="global.menu.admin.apidocs">API</span>
                </a>
            </li>
        </nav>
    </div>
    <main class="main">
        <router-outlet></router-outlet>
    </main>

</div>
<footer class="app-footer">
    <jhi-footer></jhi-footer>
</footer>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"
        integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@coreui/coreui@2.1.7/dist/js/coreui.min.js"></script>
</body>



<!--    &lt;!&ndash; Bootstrap CSS CDN &ndash;&gt;-->
<!--    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">-->
<!--    &lt;!&ndash; Scrollbar Custom CSS &ndash;&gt;-->
<!--    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css">-->

<!--    &lt;!&ndash; Font Awesome JS &ndash;&gt;-->
<!--    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js" integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ" crossorigin="anonymous"></script>-->
<!--    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js" integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY" crossorigin="anonymous"></script>-->

<!--<body>-->

<!--<div class="wrapper">-->
<!--    &lt;!&ndash; Sidebar  &ndash;&gt;-->
<!--    <nav id="sidebar" *ngIf="isAuthenticated()&&status" [ngSwitch]="isAuthenticated()">-->
<!--        <div id="dismiss">-->
<!--            <i class="fas fa-arrow-left"></i>-->
<!--        </div>-->

<!--        <div class="sidebar-header">-->
<!--            <img style="height: 3rem;"-->
<!--                 src="https://evotek.vn/wp-content/uploads/2019/08/logo_with_sologan-300x112.png"-->
<!--                 class="rounded" alt="Evotek">-->
<!--        </div>-->

<!--        <ul class="list-unstyled components" *ngSwitchCase="true">-->
<!--            &lt;!&ndash;                 <p>Dummy Heading</p> &ndash;&gt;-->
<!--            <li>-->
<!--                <a  *jhiHasAnyAuthority="'ROLE_USER'" class="dropdown-item" routerLink="cv" routerLinkActive="active" data-toggle="collapse" aria-expanded="false">-->
<!--                    <fa-icon icon="tasks" fixedWidth="true"></fa-icon>-->
<!--                    <span jhiTranslate="global.menu.entities.cv">Cv</span>-->
<!--                </a>-->

<!--                <a *jhiHasAnyAuthority="'ROLE_USER'" class="dropdown-item" routerLink="company"-->
<!--                   routerLinkActive="active" data-toggle="collapse" aria-expanded="false">-->
<!--                    <fa-icon icon="tasks" fixedWidth="true"></fa-icon>-->
<!--                    <span jhiTranslate="global.menu.entities.company">Company</span>-->
<!--                </a>-->

<!--                <a *jhiHasAnyAuthority="'ROLE_ADMIN'" class="dropdown-item" routerLink="reason"-->
<!--                   routerLinkActive="active" data-toggle="collapse" aria-expanded="false">-->
<!--                    <fa-icon icon="tasks" fixedWidth="true"></fa-icon>-->
<!--                    <span jhiTranslate="global.menu.entities.reason">Reason</span>-->
<!--                </a>-->

<!--                <a *jhiHasAnyAuthority="'ROLE_ADMIN'" class="dropdown-item" routerLink="staff-origin"-->
<!--                   routerLinkActive="active">-->
<!--                    <fa-icon icon="tasks" fixedWidth="true"></fa-icon>-->
<!--                    <span jhiTranslate="global.menu.entities.staffOrigin">Staff Origin</span>-->
<!--                </a>-->

<!--            </li>-->

<!--            <li class="nav-item" *jhiHasAnyAuthority="'ROLE_ADMIN'">-->
<!--                <a class="dropdown-item" routerLink="admin/user-management" routerLinkActive="active"-->
<!--                   (click)="collapseNavbar()">-->
<!--                    <fa-icon icon="user" fixedWidth="true"></fa-icon>-->
<!--                    <span jhiTranslate="global.menu.admin.userManagement">User management</span>-->
<!--                </a>-->

<!--                <a class="dropdown-item" routerLink="admin/metrics" routerLinkActive="active"-->
<!--                   (click)="collapseNavbar()">-->
<!--                    <fa-icon icon="tachometer-alt" fixedWidth="true"></fa-icon>-->
<!--                    <span jhiTranslate="global.menu.admin.metrics">Metrics</span>-->
<!--                </a>-->

<!--                <a class="dropdown-item" routerLink="admin/health" routerLinkActive="active"-->
<!--                   (click)="collapseNavbar()">-->
<!--                    <fa-icon icon="heart" fixedWidth="true"></fa-icon>-->
<!--                    <span jhiTranslate="global.menu.admin.health">Health</span>-->
<!--                </a>-->

<!--                <a class="dropdown-item" routerLink="admin/configuration" routerLinkActive="active"-->
<!--                   (click)="collapseNavbar()">-->
<!--                    <fa-icon icon="list" fixedWidth="true"></fa-icon>-->
<!--                    <span jhiTranslate="global.menu.admin.configuration">Configuration</span>-->
<!--                </a>-->

<!--                <a class="dropdown-item" routerLink="admin/audits" routerLinkActive="active"-->
<!--                   (click)="collapseNavbar()">-->
<!--                    <fa-icon icon="bell" fixedWidth="true"></fa-icon>-->
<!--                    <span jhiTranslate="global.menu.admin.audits">Audits</span>-->
<!--                </a>-->

<!--                <a class="dropdown-item" routerLink="admin/logs" routerLinkActive="active"-->
<!--                   (click)="collapseNavbar()">-->
<!--                    <fa-icon icon="tasks" fixedWidth="true"></fa-icon>-->
<!--                    <span jhiTranslate="global.menu.admin.logs">Logs</span>-->
<!--                </a>-->

<!--                <a *ngIf="swaggerEnabled" class="dropdown-item" routerLink="admin/docs" routerLinkActive="active" (click)="collapseNavbar()">-->

<!--                    <fa-icon icon="book" fixedWidth="true"></fa-icon>-->
<!--                    <span jhiTranslate="global.menu.admin.apidocs">API</span>-->
<!--                </a>-->
<!--            </li>-->

<!--        </ul>-->

<!--    </nav>-->

<!--    &lt;!&ndash; Page Content  &ndash;&gt;-->
<!--    <div id="content" [ngSwitch]="isAuthenticated()">-->

<!--        <nav class="navbar navbar-expand-lg navbar-light bg-light">-->
<!--            <div class="container-fluid" >-->

<!--                <button type="button" id="sidebarCollapse" class="btn btn-info">-->
<!--                    <i class="fas fa-align-left"></i>-->
<!--                    <span>Menu</span>-->
<!--                </button>-->
<!--                <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">-->
<!--                    <i class="fas fa-align-justify"></i>-->
<!--                </button>-->

<!--                <div class="collapse navbar-collapse" id="navbarSupportedContent">-->
<!--                    <ul class="nav navbar-nav ml-auto">-->
<!--                        <li class="nav-item">-->
<!--                            <a class="nav-link" routerLink="/">-->
<!--                                <span jhiTranslate="global.menu.home">Home</span>-->
<!--                            </a>-->
<!--                        </li>-->
<!--                        <li class="nav-item dropdown">-->
<!--                            <a style="color: black;" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button"-->
<!--                               aria-expanded="false" jhiTranslate="global.menu.language">Language</a>-->
<!--                            <ul class="dropdown-menu" aria-labelledby="languagesnavBarDropdown">-->
<!--                                <li *ngFor="let language of languages">-->
<!--                                    <a class="dropdown-item" [jhiActiveMenu]="language" href="javascript:void(0);"-->
<!--                                       (click)="changeLanguage(language); collapseNavbar();">-->
<!--                                        {{language | findLanguageFromKey}}</a>-->
<!--                                </li>-->
<!--                            </ul>-->
<!--                        </li>-->
<!--                        <li class="nav-item dropdown">-->
<!--                            <a style="color: black;" class="nav-link dropdown-toggle" data-toggle="dropdown" id="account-menu">-->
<!--                                    <span *ngIf="!getImageUrl()">-->
<!--                                        <fa-icon icon="user"></fa-icon>-->
<!--                                        <span jhiTranslate="global.menu.account.main">Account</span>-->
<!--                                    </span>-->
<!--                                <span *ngIf="getImageUrl()">-->
<!--                                        <img [src]="getImageUrl()" class="profile-image rounded-circle" alt="Avatar">-->
<!--                                    </span>-->
<!--                            </a>-->
<!--                            <ul class="dropdown-menu" aria-labelledby="account-menu">-->
<!--                                <li *ngSwitchCase="true">-->
<!--                                    <a class="dropdown-item" routerLink="account/settings" routerLinkActive="active"-->
<!--                                       (click)="collapseNavbar()">-->
<!--                                        <fa-icon icon="wrench" fixedWidth="true"></fa-icon>-->
<!--                                        <span jhiTranslate="global.menu.account.settings">Settings</span>-->
<!--                                    </a>-->
<!--                                </li>-->
<!--                                <li *ngSwitchCase="true">-->
<!--                                    <a class="dropdown-item" routerLink="account/password" routerLinkActive="active"-->
<!--                                       (click)="collapseNavbar()">-->
<!--                                        <fa-icon icon="lock" fixedWidth="true"></fa-icon>-->
<!--                                        <span jhiTranslate="global.menu.account.password">Password</span>-->
<!--                                    </a>-->
<!--                                </li>-->
<!--                                <li *ngSwitchCase="true">-->
<!--                                    <a class="dropdown-item" (click)="logout()" id="logout">-->
<!--                                        <fa-icon icon="sign-out-alt" fixedWidth="true"></fa-icon>-->
<!--                                        <span jhiTranslate="global.menu.account.logout">Sign out</span>-->
<!--                                    </a>-->
<!--                                </li>-->
<!--                                <li *ngSwitchCase="false">-->
<!--                                    <a class="dropdown-item" (click)="login()" id="login">-->
<!--                                        <fa-icon icon="sign-in-alt" fixedWidth="true"></fa-icon>-->
<!--                                        <span jhiTranslate="global.menu.account.login">Sign in</span>-->
<!--                                    </a>-->
<!--                                </li>-->
<!--                                <li *ngSwitchCase="false">-->
<!--                                    <a class="dropdown-item" routerLink="account/register" routerLinkActive="active"-->
<!--                                       (click)="collapseNavbar()">-->
<!--                                        <fa-icon icon="user-plus" fixedWidth="true"></fa-icon>-->
<!--                                        <span jhiTranslate="global.menu.account.register">Register</span>-->
<!--                                    </a>-->
<!--                                </li>-->
<!--                            </ul>-->
<!--                        </li>-->
<!--                    </ul>-->
<!--                </div>-->
<!--            </div>-->
<!--        </nav>-->
<!--        <router-outlet></router-outlet>-->
<!--    </div>-->
<!--</div>-->

<!--    <div class="overlay"></div>-->

<!--    &lt;!&ndash; jQuery CDN - Slim version (=without AJAX) &ndash;&gt;-->
<!--    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>-->
<!--    &lt;!&ndash; Popper.JS &ndash;&gt;-->
<!--    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>-->
<!--    &lt;!&ndash; Bootstrap JS &ndash;&gt;-->
<!--    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>-->
<!--    &lt;!&ndash; jQuery Custom Scroller CDN &ndash;&gt;-->
<!--    <script src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script>-->

<!--    <script type="text/javascript">-->
<!--        $(document).ready(function () {-->
<!--            $("#sidebar").mCustomScrollbar({-->
<!--                theme: "minimal"-->
<!--            });-->

<!--            $('#dismiss, .overlay').on('click', function () {-->
<!--                $('#sidebar').removeClass('active');-->
<!--                $('.overlay').removeClass('active');-->
<!--            });-->

<!--            $('#sidebarCollapse').on('click', function () {-->
<!--                $('#sidebar').addClass('active');-->
<!--                $('.overlay').addClass('active');-->
<!--                $('.collapse.in').toggleClass('in');-->
<!--                $('a[aria-expanded=true]').attr('aria-expanded', 'false');-->
<!--            });-->
<!--        });-->
<!--    </script>-->
<!--</body>-->
