<link href="https://cdn.jsdelivr.net/npm/@coreui/coreui@2.1.7/dist/css/bootstrap.min.css" rel="stylesheet"/>
<link href="https://cdn.jsdelivr.net/npm/@coreui/coreui@2.1.7/dist/css/coreui.min.css" rel="stylesheet"/>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"
        integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@coreui/coreui@2.1.7/dist/js/coreui.min.js"></script>

<body class="app header-fixed sidebar-fixed sidebar-xl-show">
    <header class="app-header navbar">
        <div [ngSwitch]="isAuthenticated()">
            <ul class="nav nav-pills">
            <li class="nav-item">
                <a class="nav-link" (click)="changeShow()">
                <span>
                    <fa-icon icon="tasks"></fa-icon>
                </span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/">
                <span>
                    <span jhiTranslate="global.menu.home">Home</span>
                </span>
                </a>
            </li>
            <li class="nav-item dropdown">
                <a style="color: black;" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button"
                   aria-expanded="false"
                   jhiTranslate="global.menu.language">Language</a>
                <ul class="dropdown-menu" aria-labelledby="languagesnavBarDropdown">
                    <li *ngFor="let language of languages">
                        <a class="dropdown-item"
                           [jhiActiveMenu]="language"
                           href="javascript:void(0);"
                           (click)="changeLanguage(language);
                           collapseNavbar();">
                            {{language | findLanguageFromKey}}</a>
                    </li>
                </ul>
                <!--                <a class="dropdown-item" href="#">Action</a>-->
                <!--                <a class="dropdown-item" href="#">Another action</a>-->
                <!--                <a class="dropdown-item" href="#">Something else here</a>-->
                <!--                <div class="dropdown-divider"></div>-->
            </li>
            <li class="nav-item dropdown">
                <a style="color: black;" class="nav-link dropdown-toggle" data-toggle="dropdown" id="account-menu">
                  <span *ngIf="!getImageUrl()">
                    <fa-icon icon="user"></fa-icon>
                    <span jhiTranslate="global.menu.account.main">
                      Account
                    </span>
                  </span>
                    <span *ngIf="getImageUrl()">
                      <img [src]="getImageUrl()" class="profile-image rounded-circle" alt="Avatar">
                  </span>
                </a>
                <ul class="dropdown-menu" aria-labelledby="account-menu">
                    <li *ngSwitchCase="true">
                        <a class="dropdown-item" routerLink="account/settings" routerLinkActive="active"
                           (click)="collapseNavbar()">
                            <fa-icon icon="wrench" fixedWidth="true"></fa-icon>
                            <span jhiTranslate="global.menu.account.settings">Settings</span>
                        </a>
                    </li>
                    <li *ngSwitchCase="true">
                        <a class="dropdown-item" routerLink="account/password" routerLinkActive="active"
                           (click)="collapseNavbar()">
                            <fa-icon icon="lock" fixedWidth="true"></fa-icon>
                            <span jhiTranslate="global.menu.account.password">Password</span>
                        </a>
                    </li>
                    <li *ngSwitchCase="true">
                        <a class="dropdown-item" (click)="logout()" id="logout">
                            <fa-icon icon="sign-out-alt" fixedWidth="true"></fa-icon>
                            <span jhiTranslate="global.menu.account.logout">Sign out</span>
                        </a>
                    </li>
                    <li *ngSwitchCase="false">
                        <a class="dropdown-item" (click)="login()" id="login">
                            <fa-icon icon="sign-in-alt" fixedWidth="true"></fa-icon>
                            <span jhiTranslate="global.menu.account.login">Sign in</span>
                        </a>
                    </li>
                    <li *ngSwitchCase="false">
                        <a class="dropdown-item" routerLink="account/register" routerLinkActive="active"
                           (click)="collapseNavbar()">
                            <fa-icon icon="user-plus" fixedWidth="true"></fa-icon>
                            <span jhiTranslate="global.menu.account.register">Register</span>
                        </a>
                    </li>
                </ul>
            </li>
            </ul>
        </div>
    </header>
    <div class="app-body anhnen" id="cc">
        <div class="sidebar" *ngIf="isAuthenticated()&&status" [ngSwitch]="isAuthenticated()">
        <nav class="sidebar-nav" *ngSwitchCase="true">
            <li class="nav-item">
                <div class="text-center">
                    <img style="height: 3rem;"
                         src="https://evotek.vn/wp-content/uploads/2019/08/logo_with_sologan-300x112.png"
                         class="rounded" alt="Evotek">
                </div>
            </li>
            <li class="nav-item">
                <a *jhiHasAnyAuthority="'ROLE_USER'" class="dropdown-item" routerLink="cv" routerLinkActive="active">
                    <fa-icon icon="tasks" fixedWidth="true"></fa-icon>
                    <span jhiTranslate="global.menu.entities.cv">Cv</span>
                </a>

                <a *jhiHasAnyAuthority="'ROLE_USER'" class="dropdown-item" routerLink="company"
                   routerLinkActive="active">
                    <fa-icon icon="tasks" fixedWidth="true"></fa-icon>
                    <span jhiTranslate="global.menu.entities.company">Company</span>
                </a>

                <a *jhiHasAnyAuthority="'ROLE_ADMIN'" class="dropdown-item" routerLink="reason"
                   routerLinkActive="active">
                    <fa-icon icon="tasks" fixedWidth="true"></fa-icon>
                    <span jhiTranslate="global.menu.entities.reason">Reason</span>
                </a>

                <!--                <a class="dropdown-item" routerLink="reason-list" routerLinkActive="active">-->
                <!--                    <fa-icon icon="tasks" fixedWidth="true"></fa-icon>-->
                <!--                    <span jhiTranslate="global.menu.entities.reasonList">Reason List</span>-->
                <!--                </a>-->

                <a *jhiHasAnyAuthority="'ROLE_ADMIN'" class="dropdown-item" routerLink="staff-origin"
                   routerLinkActive="active">
                    <fa-icon icon="tasks" fixedWidth="true"></fa-icon>
                    <span jhiTranslate="global.menu.entities.staffOrigin">Staff Origin</span>
                </a>
            </li>
            <li class="nav-item" *jhiHasAnyAuthority="'ROLE_ADMIN'">
                <a class="dropdown-item" routerLink="admin/user-management" routerLinkActive="active"
                   (click)="collapseNavbar()">
                    <fa-icon icon="user" fixedWidth="true"></fa-icon>
                    <span jhiTranslate="global.menu.admin.userManagement">User management</span>
                </a>

                <a class="dropdown-item" routerLink="admin/metrics" routerLinkActive="active"
                   (click)="collapseNavbar()">
                    <fa-icon icon="tachometer-alt" fixedWidth="true"></fa-icon>
                    <span jhiTranslate="global.menu.admin.metrics">Metrics</span>
                </a>

                <a class="dropdown-item" routerLink="admin/health" routerLinkActive="active"
                   (click)="collapseNavbar()">
                    <fa-icon icon="heart" fixedWidth="true"></fa-icon>
                    <span jhiTranslate="global.menu.admin.health">Health</span>
                </a>

                <a class="dropdown-item" routerLink="admin/configuration" routerLinkActive="active"
                   (click)="collapseNavbar()">
                    <fa-icon icon="list" fixedWidth="true"></fa-icon>
                    <span jhiTranslate="global.menu.admin.configuration">Configuration</span>
                </a>

                <a class="dropdown-item" routerLink="admin/audits" routerLinkActive="active"
                   (click)="collapseNavbar()">
                    <fa-icon icon="bell" fixedWidth="true"></fa-icon>
                    <span jhiTranslate="global.menu.admin.audits">Audits</span>
                </a>

                <a class="dropdown-item" routerLink="admin/logs" routerLinkActive="active"
                   (click)="collapseNavbar()">
                    <fa-icon icon="tasks" fixedWidth="true"></fa-icon>
                    <span jhiTranslate="global.menu.admin.logs">Logs</span>
                </a>

                <a *ngIf="swaggerEnabled" class="dropdown-item" routerLink="admin/docs" routerLinkActive="active"
                   (click)="collapseNavbar()">
                    <fa-icon icon="book" fixedWidth="true"></fa-icon>
                    <span jhiTranslate="global.menu.admin.apidocs">API</span>
                </a>
            </li>
        </nav>
        </div>
        <main class="main">
            <router-outlet></router-outlet>
        </main>
    <!--    <aside class="aside-menu">-->
    <!--        &lt;!&ndash; Aside menu content here &ndash;&gt;-->
    <!--    </aside>-->
    </div>
    <footer class="app-footer">
        <jhi-footer></jhi-footer>
    </footer>
</body>
