<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:lang="${#locale.language}" lang="en">
    <head>
        <title th:text="#{email.reset.title}">JHipster password reset</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>
        <p >
            Dear
        </p>
        <p>Bạn nhận được thông tin về nhân viên</p>

        <p>
            <span th:text="${infos.name}">Information </span>
            <br/>
            <a th:with="url=(@{|localhost:9000/staff-origin/${infos.id}/view|})" th:href="${url}"
               th:text="${url}">Login link</a>
    </body>
</html>
