<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 anhnen">
            <div class="phanform">
                <div class="phanform-top">

                    <p>CV</p>
                    <img src="../../content/images/anh1_component_home.PNG" alt="">
                </div>

                <form class="noidung-form "  name="searchForm" role="form" novalidate (ngSubmit)="onSearch()" [formGroup]="searchForm">

                    <div class="form-group">
                        <div class="form-inline" >
                             <div class=" row row0 ">

                                 <input type="text" class="form-control1 borderduoi" placeholder="Enter name" name="field_cVName" id="field_cVName"
                                   formControlName="name">


                             </div>
                            <div class=" row row1 ">

                                <input type="date" class="form-control1 borderduoi" placeholder="Birthday" id="field_birthday" name="field_birthday" formControlName="birthday">


                             </div>
                         </div>
                        <div>
                            <div class="row row2">
                                <div class=" col col2 ">
                                    <input type="email" class="form-control borderduoi" placeholder="Enter mail" name="field_email" id="field_email" formControlName="email">
                                </div>

                            </div>
                            <div class="row row2">
                                <div class="  col  ">
                                    <input type="tel" class="form-control borderduoi" placeholder="Enter phone" name="field_phone" id="field_phone" formControlName="phone">
                                </div>

                            </div>
                            <div class="row row2">
                                <div class="col ">
                                    <button class="btn-submit btn-block" type="submit">search</button>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div *ngIf="fail" style="color: red">Bạn cần nhập đầy đủ thông tin</div>
                </form>

            </div>
        </div>
    </div>

</div>




