<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="reason">
<!--            <h2><span jhiTranslate="blackcvApp.reason.detail.title">Reason</span> {{reason.id}}</h2>-->
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">

                <dt><span jhiTranslate="blackcvApp.reason.reasonName">Reason Name</span></dt>
                <dd>
                    <span>{{reason.reasonName}}</span>
                </dd>

                <dt><span jhiTranslate="blackcvApp.reason.descriptons">Descriptons</span></dt>
                <dd>
                    <span>{{reason.descriptons}}</span>
                </dd>

<!--                <dt><span jhiTranslate="blackcvApp.reason.status">Status</span></dt>-->
<!--                <dd>-->
<!--                    <span>{{reason.status}}</span>-->
<!--                </dd>-->
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/reason', reason.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
