@import 'bootstrap-variables';
@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';

/* ==============================================================
Bootstrap tweaks
===============================================================*/

body,
h1,
h2,
h3,
h4 {
  font-weight: 300;
}

/* Increase contrast of links to get 100% on Lighthouse Accessability Audit. Override this color if you want to change the link color, or use a Bootswatch theme */
a {
  color: #533f03;
  font-weight: bold;
}

a:hover {
  color: #533f03;
}

/* override hover color for dropdown-item forced by bootstrap to all a:not([href]):not([tabindex]) elements in _reboot.scss */
a:not([href]):not([tabindex]):hover.dropdown-item {
  color: $dropdown-link-hover-color;
}

/* override .dropdown-item.active background-color on hover */
.dropdown-item.active:hover {
  background-color: mix($dropdown-link-hover-bg, $dropdown-link-active-bg, 50%);
}

a:hover {
  /* make sure browsers use the pointer cursor for anchors, even with no href */
  cursor: pointer;
}

.dropdown-item:hover {
  color: $dropdown-link-hover-color;
}

/* ==========================================================================
Browser Upgrade Prompt
========================================================================== */
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
Generic styles
========================================================================== */

/* Error highlight on input fields */
.ng-valid[required],
.ng-valid.required {
  border-left: 5px solid green;
}

.ng-invalid:not(form) {
  border-left: 5px solid red;
}

/* other generic styles */

.jh-card {
  padding: 1.5%;
  margin-top: 20px;
  border: none;
}

.error {
  color: white;
  background-color: red;
}

.pad {
  padding: 10px;
}

.w-40 {
  width: 40% !important;
}

.w-60 {
  width: 60% !important;
}

.break {
  white-space: normal;
  word-break: break-all;
}

.readonly {
  background-color: #eee;
  opacity: 1;
}

.footer {
  border-top: 1px solid rgba(0, 0, 0, 0.125);
}

.hand,
[jhisortby] {
  cursor: pointer;
}

/* ==========================================================================
Custom alerts for notification
========================================================================== */
.alerts {
  .alert {
    text-overflow: ellipsis;

    pre {
      background: none;
      border: none;
      font: inherit;
      color: inherit;
      padding: 0;
      margin: 0;
    }

    .popover pre {
      font-size: 10px;
    }
  }

  .jhi-toast {
    position: fixed;
    width: 100%;

    &.left {
      left: 5px;
    }

    &.right {
      right: 5px;
    }

    &.top {
      top: 55px;
    }

    &.bottom {
      bottom: 55px;
    }
  }
}

@media screen and (min-width: 480px) {
  .alerts .jhi-toast {
    width: 50%;
  }
}

/* ==========================================================================
entity detail page css
========================================================================== */
.row.jh-entity-details > {
  dd {
    margin-bottom: 15px;
  }
}

@media screen and (min-width: 768px) {
  .row.jh-entity-details > {
    dt {
      margin-bottom: 15px;
    }

    dd {
      border-bottom: 1px solid #eee;
      padding-left: 180px;
      margin-left: 0;
    }
  }
}

/* ==========================================================================
ui bootstrap tweaks
========================================================================== */
.nav,
.pagination,
.carousel,
.panel-title a {
  cursor: pointer;
}

.thread-dump-modal-lock {
  max-width: 450px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.sizeImage {
  height: 12rem;
}
.multiselect-dropdown {
  .dropdown-btn {
    border: 1px solid #e4e7ea !important;
    border-radius: 0.25rem !important;
  }

  .dropdown-list {
    padding-top: 0 !important;
    border: 1px solid #e4e7ea !important;
    border-radius: 0.25rem !important;
    margin-top: 0.25rem !important;
    box-shadow: none !important;
  }
}

/* jhipster-needle-scss-add-main JHipster will add new css style */

/*
file deitail của đat*/

.khoianh1 {
  width: 100%;
  /*display: inline-block;*/
  margin-top: 60px;
  margin-bottom: 40px;

  border-radius: 20px;
}
.thum1 {
  width: 100%;
  height: 225px;

  background-image: url('../images/hinh-nen-hoa-anh-dao.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 20px;
}

.avatar {
  height: 17rem;
}
.trai {
  height: 900px;
}
.top_trai {
  text-align: center;
  margin-top: 60px;
}
.top_trai img {
  border-radius: 20px;
  margin-top: 15px;
  margin-bottom: 40px;
}
.thong_tin_ca_nhan {
  height: 50px;
  width: 100%;
}
.thong_tin_ca_nhan h3 {
  /*//display: inline-block;*/
  float: right;
  margin-right: 50px;
}
.khoi {
  margin-top: 5px;
  border-radius: 5px;
}
.flex1 {
  margin-left: 20px;
  font-size: 25px;
}
.flex5 {
  margin-left: 20px;
}
/* hết css khối trái  */

.phai-detail {
  height: 900px;
}
.khoi1 {
  margin-top: 75px;
  border-radius: 5px;
}
.hoc_van {
  margin-top: 20px;
  margin-left: 70px;
}
.khoianh {
  width: 100%;
  height: auto;
  padding: 5px;
  cursor: pointer;
}
.thumb {
  width: 200px;
  height: 150px;

  background-image: url('../images/hinh-nen-hoa-anh-dao.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
/*
phần code css cho trang Home (đạt)*/
.anhnen {
  background-image: url('../../content/images/anh2_component_home.jpg');
  height: 800px;
  position: absolute;
}
.phanform {
  position: relative;
  width: 680px;
  height: 520px;
  margin-top: 165px;
  margin-left: 320px;

  border-radius: 10px;
  background-color: white;
}

.phanform-top {
  width: 100%;
  height: 62px;
  background-color: #2c3e50;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
.phanform-top img {
  margin-top: -25px;
  margin-left: 45px;
}
.phanform-top p {
  display: block;
  color: white;
  font-size: 24px;
  font-weight: 500;
  text-transform: uppercase;
  padding-top: 10px;
  padding-left: 40px;
}
.noidung-form {
  padding-top: 40px;
  padding-right: 55px;
  padding-left: 55px;
}
.row0 {
  padding-left: 15px;
  margin-right: 83px;
}
.row1 {
  float: right;
}

.row2 {
  margin-top: 40px;
}

.borderduoi {
  border-bottom: 2px solid #95a5a6;
}
.btn-submit {
  display: block;
  margin-top: 32px;
  width: 100%;
  line-height: 50px;
  font-family: inherit;
  background: #2c3e50;
  text-transform: uppercase;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  border-radius: 10px;
}
.btn-submit:hover {
  cursor: pointer;
}
.khoi {
  margin-top: 5px;
}
.flex1 {
  margin-left: 20px;
  font-size: 25px;
}
.flex5 {
  margin-left: 20px;
}
.phai {
  background-color: #718093;
  height: 500px;
}
input[type='text'] {
  border: none;
  border-bottom: 2px solid #7f8c8d;
}
input[type='email'] {
  border: none;
  border-bottom: 2px solid #7f8c8d;
}
input[type='tel'] {
  border: none;
  border-bottom: 2px solid #7f8c8d;
}
input[type='date'] {
  border: none;
  border-bottom: 2px solid #7f8c8d;
}

/*
//css cho phần result-cv (dat)*/
.result {
  /* border: 1px solid black;*/
  height: 300px;
  width: 100%;
  text-align: center;
  color: black;
}
.result h2 {
  padding-top: 135px;
}
.result-2 {
  padding-top: 20px;

  /*border: 1px solid black;*/
  height: 250px;
  width: 100%;
  text-align: center;

  color: black;
}

.form-search {
  width: 300px;
  margin: auto;
  margin-top: 30px;
}
.table {
  color: black;
  font-size: 18px;
}
.result-3 {
  padding-top: 20px;
  background-color: white;
  /*border: 1px solid black;*/
  height: 250px;
  width: 100%;
  text-align: center;

  color: white;
}
